.venv/

app/data/
data/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

node_modules/
*.pkl
data/
coverage/
cypress-results.xml
.pytest_cache/
__pycache__/
*.pyc
dist/
.DS_Store